body {
    
}


#film-images {
    background-color: #dad9d6;
}
#logo {
    max-width: 100px;
}

.images {
    width: 300px;
}

/************ Login page *************/
body {
    margin: 0;
    padding: 0;
    background-color: #dad9d6;
    height: 100vh;
}

#login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
}

#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}

#login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
}

/******************* Error on failed username/password ************************/
.error-message {
/*    border: 1px solid red;*/
    border-radius: 5px;
    padding: 1em;
    text-transform: uppercase;
    color: red;
}


/************ Register page *************/
.centered-form {
    margin-top: 60px;
}

.centered-form .panel {
    background: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}